{% extends "layout.html" %}
{% block body %}
	<h4 class="page-header">{{ page_header }}</h4>
	<div class="col-md-6">
		{% if manager.get('hint') %}
			<div class="alert alert-success" role="alert">
  				<a href="#" class="alert-link">{{ manager.get('hint') }}</a>
			</div>
		{% endif %}

		{% if manager._id %}
		<form action="{{ url_for('manager.update', manager_id=manager._id) }}" method="POST">
		{% else %}
		<form action="{{ url_for('manager.create') }}" method="POST">
		{% endif %}
		
			<div class="form-group">
				<label for="">用户名</label>
				<input type="text" class="form-control" name="username" placeholder="" value="{{ manager.get('username', '') }}" required>
			</div>

			<div class="form-group">
				<label for="">密码</label>
				<input type="text" class="form-control" name="password" placeholder="" value="{{ manager.get('password', '') }}" required>
			</div>
			
			<div class="form-group">
				<label for="">语音授权数</label>
				<input type="text" class="form-control" name="voice_licenses" placeholder="" value="{{ manager.get('voice_licenses', '') }}">
			</div>

			<div class="form-group">
				<label for="">siri授权数</label>
				<input type="text" class="form-control" name="siri_licenses" placeholder="" value="{{ manager.get('siri_licenses', '') }}">
			</div>

			<div class="form-group">
                <label for="">状态</label>
                <select name="enable" class="form-control">
                    <option value="true">可用</option>
                    <option value="false" {% if manager.get('enable') == False %} selected {% endif %}>不可用</option>
    			</select>
            </div>

			<div class="form-group">
				<label for="">备注</label>
				<input type="text" class="form-control" name="backup" placeholder="" value="{{ manager.get('backup', '') }}">
			</div>

			<button class="btn btn-primary" type="submit">提交</button>
		</form>
	</div>
{% endblock %}