{% extends "layout.html" %}
{% block body %}
	<h4 class="page-header">{{ page_header }}</h4>
	<div class="col-md-6">
		{% if manager._id %}
		<form action="{{ url_for('manager.update', manager_id=manager._id) }}" method="POST">
		{% else %}
		<form action="{{ url_for('manager.create') }}" method="POST">
		{% endif %}
		
			<div class="form-group">
				<label for="">用户名</label>
				<input type="text" class="form-control" name="username" placeholder="" value="{{ manager.get('username', '') }}" required>
			</div>

			<div class="form-group">
				<label for="">密码</label>
				<input type="text" class="form-control" name="password" placeholder="" value="{{ manager.get('password', '') }}" required>
			</div>
			
			<div class="form-group">
				<label for="">授权数</label>
				<input type="text" class="form-control" name="licenses" placeholder="" value="{{ manager.get('licenses', '') }}">
			</div>

			<div class="form-group">
				<label for="">备注</label>
				<input type="text" class="form-control" name="backup" placeholder="" value="{{ manager.get('backup', '') }}">
			</div>

			<button class="btn btn-primary" type="submit">提交</button>
		</form>
	</div>
{% endblock %}